$color-primary: #173A56;
$color-light: #ffffff;
$color-border-search: #ccc;
$color-button-submit: #FF9900;
$color-additional: #FF7549;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;