%transition {
    transition: all 0.3s ease-in-out;
}

%font-prime {
    font-family: 'Open Sans', 'Verdana', sans-serif;
}

%font-add {
    font-family: 'Orbitron', 'Verdana', sans-serif;
}